body {
    margin: 0;
    padding: 0;
    background-color: #252836;
    font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;

}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}


.App {
    display: flex;
}

.content {
    width: 100%;
}