.main {
    
    &-settings {
        &-left {
            &-block {
                display: flex;
                // align-items: center;
                cursor: pointer;
                &-title {
                    margin-left: 10px;
                    h4 {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 130%;
                        color: #FFFFFF;
                    }
                    h5 {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 140%;
                        color: #ABBBC2;
                    }
                }
            }
        }
    }
}